:focus-visible {
  outline: none;
}
.sky-editor {
  color: #333333;
}
.content-wrapper {
  p {
    margin: 0;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
