.flex {
  display: flex;

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.justify-start {
    justify-content: start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.items-center {
    align-items: center;
  }

  &.items-start {
    align-items: flex-start;
  }

  &.items-end {
    align-items: flex-end;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}


:focus-visible {
  outline: none;
}

button {
  background: none;
  //border: none;
  border-width: 1px;
  outline: none;
  cursor: pointer;
  margin-right: 2.5px;
}

.sky-editor {
  color: #333333;
  p {
    margin-bottom: 1em;
  }
}

.sky-bubble-menu {
  width: 500px;
  display: flex;
  position: relative;
  right: -38%;
  button {
    @extend .flex;
    @extend .justify-center;
    @extend .items-center;
    background: #ffffff;
    padding: 4px 7px;
    img {
      width: 13px;
      height: 13px;
    }
  }

}

.content-wrapper {
  p {
    margin: 0;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
